<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-center">
          <a href="/">Home</a>
          {{#if user}}
            <a href="/recipes">My Recipes</a>
            <a href="/recipes/new">Add Recipe</a>
          {{/if}}
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>

        <div class="nav-right">
          {{#if user}}
            <a href="/logout" class="auth-btn">Log out</a>
          {{else}}
            <a href="/login" class="auth-btn">Login</a>
            <a href="/signup" class="auth-btn">Sign up</a>
          {{/if}}
        </div>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <script src="/script.js"></script>
  </body>
</html>